*{
    outline: none;
    box-sizing: border-box;
    font-family: 'Montserrat',sans-serif;
}

html, 
body, 
ul, 
ol {
    list-style: none;
}

body{
}

button {
    background-color: transparent;
    border: none;
}

a {
    display: inline-block;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, 
p {
    margin: 0;
}

@media screen and (max-width: 1024px) {
    img {
        display: block;
        max-width: 100%;
    }

    section {
        text-align: center;
    }
}

figure {
    margin: 0;
}




